/*font*/
@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
/*font-family: "Lilita One", sans-serif;*/
/*font-family: "Nunito", sans-serif;*/
/*font-family: "Oswald", sans-serif;*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: cornsilk;
}

header {
  z-index: 11;
  background-image: linear-gradient(to right, darkolivegreen, rgb(67, 82, 41));
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
  position: sticky;
  top: 0%;
}
header .navencabezado {
  width: 40%;
}
header .navencabezado ul {
  height: 100%;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: last baseline;
}
header .navencabezado ul li {
  display: flex;
  border-bottom: 10%;
  height: 50%;
}
header .navencabezado ul li a {
  font-family: "Oswald", sans-serif;
  border: none;
  background-image: linear-gradient(to bottom, rgb(67, 82, 41), rgb(76, 95, 42));
  color: white;
  font-size: 120%;
  margin-right: 12px;
  text-decoration: none;
  border-radius: 45%;
  padding: 7px;
  margin-bottom: 5px;
  transition: 3s;
}
header .navencabezado ul li a:hover {
  background-image: linear-gradient(to top, rgb(67, 82, 41), rgb(76, 95, 42));
}
header img {
  width: 80px;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  animation-name: rotacion;
  animation-iteration-count: infinite;
  animation-duration: 20s;
  animation-delay: 2s;
}
@keyframes rotacion {
  0% {
    transform: rotate(100deg);
  }
  25% {
    transform: rotate(25deg);
  }
  50% {
    transform: rotate(50deg);
  }
  75% {
    transform: rotate(75deg);
  }
  100% {
    transform: rotate(100deg);
  }
}

footer {
  display: grid;
  grid-template-areas: "redes . copy";
  grid-template-columns: 30% 30% 30%;
}
footer .logosredes img {
  grid-area: redes;
  width: 40px;
}
footer .copyright {
  grid-area: copy;
  text-align: right;
}

.nav {
  margin-top: 40px;
}

.cuerponoticias {
  margin-top: 70px;
  display: grid;
  grid-template-areas: "titulo titulo titulo" "img1 texto1 texto1" "img2 img2 texto2" "img3 texto3 img4";
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: 70px 320px 350px 230px;
  justify-content: center;
  justify-items: center;
  align-items: center;
  text-align: center;
}
.cuerponoticias .titulonoti {
  grid-area: titulo;
  font-size: 2rem;
  margin-top: 20px;
  margin-bottom: 50px;
}
.cuerponoticias .textonoti1 {
  grid-area: texto1;
  text-align: left;
  font-size: 1.5rem;
  margin-left: 30px;
}
.cuerponoticias .textonoti2 {
  grid-area: texto2;
  text-align: left;
  margin-left: 30px;
  font-size: 20px;
}
.cuerponoticias .textonoti3 {
  grid-area: texto3;
  text-align: left;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 18px;
}
.cuerponoticias .imgnoti1 {
  grid-area: img1;
  width: 100%;
  height: 97%;
  border-radius: 10px;
}
.cuerponoticias .imgnoti2 {
  grid-area: img2;
  width: 100%;
  height: 97%;
  border-radius: 10px;
}
.cuerponoticias .imgnoti3 {
  grid-area: img3;
  width: 100%;
  height: 97%;
  border-radius: 10px;
}
.cuerponoticias .imgnoti4 {
  grid-area: img4;
  width: 100%;
  height: 97%;
  border-radius: 10px;
}

.bodytablas {
  background-color: #111217;
}
.bodytablas .titulotablas {
  margin-top: 100px;
  margin-bottom: 0px;
  text-align: center;
  font-family: "Lilita One", sans-serif;
  color: bisque;
}
.bodytablas .tablas {
  justify-items: center;
  margin-top: 50px;
}

.fotoscompe {
  margin-top: 50px;
  display: grid;
  grid-template-areas: "foto1 . foto2 . foto3" "foto4 . foto5 . foto6";
  grid-template-columns: 25% 5% 25% 5% 25%;
  grid-template-rows: 300px 300px;
  justify-content: center;
  padding: 30px;
}
.fotoscompe .libertadores, .fotoscompe .champions, .fotoscompe .ligue1, .fotoscompe .laliga, .fotoscompe .premierleague, .fotoscompe .ligaargentina {
  grid-area: foto1;
}
.fotoscompe .libertadores img, .fotoscompe .champions img, .fotoscompe .ligue1 img, .fotoscompe .laliga img, .fotoscompe .premierleague img, .fotoscompe .ligaargentina img {
  width: 50%;
  height: 50%;
  border-radius: 50%;
  padding: 10px;
}
.fotoscompe .ligaargentina {
  grid-area: foto2;
}
.fotoscompe .premierleague {
  grid-area: foto3;
}
.fotoscompe .laliga {
  grid-area: foto4;
}
.fotoscompe .ligue1 {
  grid-area: foto5;
}
.fotoscompe .champions {
  grid-area: foto6;
}

.card {
  z-index: 10;
  margin-left: 60px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.card img {
  width: 250px;
  border-radius: 10%;
}

@media (max-width: 480px) {
  header {
    flex-direction: column;
  }
  header img {
    width: 45px;
    margin-left: 195px;
  }
  header .navencabezado {
    width: 100%;
    padding-bottom: 0.2px;
  }
  header .navencabezado ul {
    justify-content: baseline;
    align-items: center;
    padding: 12px;
    padding-bottom: 5PX;
    margin-top: 10px;
  }
  header .navencabezado ul a {
    border: none;
    background-color: darkolivegreen;
  }
  /*RESPONSIVE HOME*/
  .cuerpohome {
    padding: 10px;
  }
  .cuerpohome img {
    width: 410px;
  }
  /*RESPONSIVE TABLAS*/
  .tablas img {
    width: 400px;
  }
  /*RESPONSIVE COMPETENCIAS*/
  .fotoscompe {
    grid-template-areas: "foto1" "foto2" "foto3" "foto4" "foto5" "foto6";
    grid-template-columns: 45% 45%;
    justify-content: center;
  }
  .fotoscompe img {
    margin-left: 100px;
    height: 200px;
  }
  /*RESPONSIVE NOTICIAS*/
  .titulonoti {
    margin-top: 2px;
  }
  .cuerponoticias {
    grid-template-areas: "titulo" "img1" "texto1" "img4" "texto2" "texto3" "img2";
    grid-template-columns: 90%;
    grid-template-rows: 70px 320px 500px 250px 250px 150px 195px;
  }
  .cuerponoticias .textonoti1 {
    font-size: 20px;
  }
  .cuerponoticias .textonoti2 {
    font-size: 17px;
  }
  .cuerponoticias .textonoti3 {
    font-size: 17px;
    text-align: left;
    margin-left: 32px;
  }
  .cuerponoticias .imgnoti2 {
    margin-bottom: 10px;
  }
  .cuerponoticias .imgnoti3 {
    display: none;
  }
  /*RESPONSIVE VOTA*/
  .row {
    padding: 17px;
  }
  /*RESPONSIVE FOOTER*/
  footer {
    grid-template-areas: ". redes copy";
    grid-template-columns: 30% 30% 30%;
  }
  footer .logosredes img {
    width: 15px;
    margin-left: 23px;
  }
  footer .copyright {
    font-size: 8px;
  }
}

/*# sourceMappingURL=estilos.css.map */
