.fotoscompe{
    margin-top: 50px;
    display: grid;
    grid-template-areas: 
    "foto1 . foto2 . foto3"
    "foto4 . foto5 . foto6";
    grid-template-columns: 25% 5% 25% 5% 25%;
    grid-template-rows: 300px 300px ;
    justify-content: center;
    padding: 30px;
    .libertadores{
        grid-area: foto1;
        img{
            width: 50%;
            height: 50%;
            border-radius: 50%; 
            padding: 10px;
            margin-left: 60px;   
        }
    }
    .ligaargentina{
        @extend .libertadores;
        grid-area: foto2;       
    }
    .premierleague{
        @extend .libertadores;
        grid-area: foto3;       
    }
    .laliga{
        @extend .libertadores;
        grid-area: foto4;      
    }
    .ligue1{
        @extend .libertadores;
        grid-area: foto5;    
    }
    .champions{
        @extend .libertadores;
        grid-area: foto6;       
    }
}