header{
    z-index: 11;
    background: radial-gradient(circle,rgba(22, 69, 17, 1) 57%, rgba(55, 97, 20, 1) 73%, rgba(103, 150, 62, 1) 100%); ;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    position: sticky;
    top: 0%;
    .navencabezado{
        width: 40%;
        ul{
            height: 100%;
            list-style: none;
            display: flex;
            justify-content: space-between;
            align-items: last baseline;
            li{
                display: flex;
                border-bottom: 10%;
                height: 50%;
                a{
                    font-family: "Oswald", sans-serif;
                    border: none; 
                    background-image: none ;
                    color:white;
                    font-size: 120%;
                    margin-right: 12px;
                    text-decoration: none;
                    border-radius: 25%;
                    padding: 7px;
                    margin-bottom: 5px;
                    transition: 1s;
                }
                a:hover{
                    background:#1b5f14;
                }
            }
        } 
    }
    img{
        width: 80px;
        margin-top: 10px;
        margin-left: 10px;
        margin-bottom: 10px;
        animation-name: rotacion;
        animation-iteration-count: infinite;
        animation-duration: 20s;
        animation-delay: 2s;         
    }
    @keyframes rotacion{
     0%{
        transform: rotate(100deg);
     }
     25%{
        transform: rotate(25deg)
     }
     50%{
        transform: rotate(50deg);
     }
     75%{
        transform: rotate(75deg);
     }
     100%{
        transform: rotate(100deg);
     }
    }
     
     
    
}
footer{
    height: 40%;
    display: grid;
    grid-template-areas: 
    "redes . copy";
    grid-template-columns: 30% 30% 30%;
    .logosredes{
        img{
            grid-area: redes;
            width: 40px;
        }
    }
    .copyright{
        grid-area: copy;
        text-align: right;
    }
    .logosredes2{
        img{
            grid-area: redes;
            width: 40px;
            filter: invert(1);
        }
    }
    .copyright2{
        grid-area: copy;
        text-align: right;
        filter: invert(1);
    }
    .subir{
        position: fixed;
        bottom: 70px;
        right: 20px;
        width: 40px;
    }
}
