@media (max-width:480px) {
    header{
        flex-direction: column;
        img{
        width: 45px;
        margin-left: 50%;
        }
        .navencabezado{
        width: 100%;
        padding-bottom: 0.2px;
           ul{
           justify-content: baseline;
           align-items: center;    
           padding: 12px;
           padding-bottom: 5PX;
           margin-top: 10px;
              a{ 
              border: none;
              background-color: darkolivegreen;
              }
           }      
        }
    }
    
    /*RESPONSIVE HOME*/
    .cuerpohome{
        padding: 10px;
        img{
        width: 410px;
        }
    }
    /*RESPONSIVE TABLAS*/
    .tablas{
        img{
        width: 400px;
        }
    }
    /*RESPONSIVE COMPETENCIAS*/
    .fotoscompe{
        grid-template-areas: 
        "foto1"
        "foto2"
        "foto3"
        "foto4"
        "foto5"
        "foto6"
        ;
        grid-template-columns: 90%;
        grid-template-rows: repeat(6,300px);
        justify-content: center;
        .libertadores{
            img{
              margin-left: 10px;
              width: 100%;
              height: 110%;
              padding: 100px;
            }
        }
    }
    
                 /*RESPONSIVE NOTICIAS*/
    .titulonoti{
        margin-top: 2px;
    }
    .cuerponoticias{
        grid-template-areas: 
        "titulo"
        "img1"
        "texto1"
        "img4"
        "texto2"
        "texto3"
        "img2"
        ;
        grid-template-columns: 90%;
        grid-template-rows:70px 320px 500px 250px 250px 150px 195px;
        .textonoti1{
        font-size: 20px;
        }
        .textonoti2{
        font-size: 17px;
        }
        .textonoti3{
        font-size: 17px;
        text-align: left;
        margin-left: 32px;
        }
        .imgnoti2{
        margin-bottom: 10px;
        }
        .imgnoti3{
        display: none;
        }    
    }   
/*RESPONSIVE VOTA*/
    .row{
        padding: 17px;
    }                   
                /*RESPONSIVE FOOTER*/
    footer{
        grid-template-areas: 
        ". redes copy";
        grid-template-columns: 30% 30% 30%;
        .logosredes{
            img{
            width: 15px;
            margin-left: 23px;
            }
        }    
        .copyright{
        font-size: 8px
        }
        .logosredes2{
            img{
            width: 15px;
            margin-left: 23px;
            }
        }
        .copyright2{
            font-size: 8px
        }
    }
}
@media (min-width:481px) and (max-width:769px) {
    header{
        flex-direction: column;
        img{
        width: 45px;
        margin-left: 50%;
        }
        .navencabezado{
        width: 100%;
        padding-bottom: 0.2px;
           ul{
           justify-content: baseline;
           align-items: center;    
           padding: 12px;
           padding-bottom: 5PX;
           margin-top: 10px;
              a{ 
              border: none;
              background-color: darkolivegreen;
              }
           }      
        }
    }
    .cuerponoticias{
        .textonoti1{
        font-size: 17px;
        }
        .imgnoti1{
            height: 70%;
        }
        .textonoti2{
        font-size: 15px;
        text-align: center;
        margin-right: 10px;
        }
        .textonoti3{
        font-size: 15px;
        text-align: left;
        margin-left: 32px;
        }
        .imgnoti2{
        margin-bottom: 10px;
        width: 90%;
        height: 70%;
        margin-left: 110px;
        }
        .imgnoti3{
            height: 80%;
        }
        .imgnoti4{
            height: 80%;
        }
    }
    .row{
        padding: 150px;
        margin-top: -130px;
    }
    .fotoscompe{
        padding: 10px;
        margin-right: 60px;
        .libertadores{
            img{
              width: 70%;
              height: 50%;

            }
        }
    }
}          