.bodytablas{
    background-color: #111217;
    .titulotablas{
        margin-top: 100px;
        margin-bottom: 0px;
        text-align: center;
        font-family: "Lilita One", sans-serif ;
        color: bisque;
    }
    .tablas{
        @include tablitas;
        margin-bottom: 50px;
    }
}